{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <title> Lyca's Blog </title>
  </head>
  <body>
    <body>
          <div class="page-header">
              <h1><a href="/">Lyca's Blog</a></h1>
          </div>

          <div class="content container">
              <div class="row">
                  <div class="col-md-8">
                  </div>
              </div>
          </div>
      <h1>Welcome to my blog!</h1>

        <h2>I am so tired</h2>
          <h3>I wanna go home and sleep.</h3>
       </div>
       <div>
        <p>This is so step by step <p>
        <p>This Django thing is very tiring but addicting. I hate it.</p>
          <strong>Django is</strong>
          <em >tiring</em>
    <p> Here is a link to my website. Check it out! <a href="https://vexana.github.io/portfolio/aboutme.html" target="_blank">My Profile</a> <p>
     <div>
       <p> Here's a list of what I'd like to do for my free time!
        <ul><li>Sleep</li>
          <li>Play games such as:
            <ul><li>League of Legends</li><li>Mobile Legends</li></ul>
          </li>
          <li>Watch TV shows and Movies</li>
        </ul>
      <p> Lastly,<p>
        <ul><li> <strong>SLEEP</strong> </li></ul>
     </div>


   <div class="page-header">
       <h1><a href="/">Django Girls Blog</a></h1>
   </div>
   <div class="content container">
       <div class="row">
           <div class="col-md-8">
           {% block content %}
           {% endblock %}
           </div>
       </div>
   </div>
</html>
