<html>
  <head>
      <title> Lyca's Blog </title>
    <h1>Welcome to my blog!</h1>
      <h2>I am so tired</h2>
        <h3>I wanna go home and sleep.</h3>

  </head>
  <body>
    <div>
           <h1><a href="https://vexana.github.io/portfolio/aboutme.html" target="_blank">Lyca's Blog</a></h1>
       </div>
       <div>
        <p>This is so step by step <p>
        <p>This Django thing is very tiring but addicting. I hate it.</p>
          <em>Django is</em>
          <strong>tiring</strong>
    <p> Here is a link to my website. Check it out! <a href="https://vexana.github.io/portfolio/aboutme.html" target="_blank">My Profile</a> <p>
     <div>
       <p> Here's a list of what I'd like to do for my free time!
        <ul><li>Sleep</li>
          <li>Play games such as:
            <ul><li>League of Legends</li><li>Mobile Legends</li></ul>
          </li>
          <li>Watch TV shows and Movies</li>
        </ul>
      <p> Lastly,<p>
        <ul><li> <strong>SLEEP</strong> </li></ul>
     </div>
   </div>

</html>
